*,
*::before,
*::after {
	box-sizing: border-box;
}

/*
font-family: 'Open Sans', sans-serif;
font-family: "Banny";
*/

html {
	// scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	position: relative;
}

img {
	display: block;
	max-width: 100%;
}

ul {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	@media (max-width: 992px) {
		width: 100%;
		padding: 0 15px;
	}
}

.section-about,
.section-ourteam,
.section-booking,
.section-specialties,
.section-events {
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 100px 0;
		@media (max-width: 1530px) {
			justify-content: center;
		}

		@media (max-width: 1390px) {
			flex-wrap: wrap;
		}
	}
	&:hover {
		.top-text {
			transition: font-size 0.2s ease-in;
			font-size: 13px;
		}
	}
}

.section__text {
	max-width: 600px;
	color: #000;
	@media (max-width: 1530px) {
		max-width: 500px;
		margin: 0 25px !important;
	}
	.section__title {
		font-family: "Banny";
		font-size: 36px;
		line-height: 1.4;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 30px;
		position: relative;

		@media (max-width: 500px) {
			&::after {
				display: none;
			}
		}

		&::after {
			@include title-underline;
		}
	}

	.section__subtitle {
		font-weight: bold;
		font-size: 18px;
		line-height: 28px;
		display: flex;
		align-items: flex-end;
		text-align: center;
		margin-bottom: 20px;
	}

	.section__description {
		font-size: 14px;
		line-height: 28px;
		display: flex;
		align-items: flex-end;
		text-align: center;
	}
}

.section__image-wrapper {
	max-width: 600px;
	position: relative;
	transition: transform 0.2s ease-in;
	@media (max-width: 1530px) {
		max-width: 300px;
		margin: 0 25px !important;
	}
	@media (max-width: 916px) {
		margin-bottom: 50px;
		&::after {
			display: none;
		}
	}
	.section__image {
		max-width: 100%;
		height: auto;
		z-index: -1;
		border-radius: 5px;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
		@media (max-width: 916px) {
			margin-top: 50px;
			order: -1;
		}
	}

	&::after {
		transition: right 0.2s ease-in;
		@include rightRectangle(-120px);
		@media (max-width: 1530px) {
			@include rightRectangle(-70px);
		}
	}

	&:hover {
		transform: scale(1.03);
		&::after {
			right: -140px;
			@media (max-width: 1530px) {
				right: -100px;
			}
		}
	}
}

.hidden {
	display: none;
}

.section__input-row {
	display: flex;
	justify-content: center;
}

.section__input-row + .section__input-row {
	margin-top: 10px;
	@media (max-width: 800px) {
		margin-top: 0;
	}
}

.bottom-text {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 12px;
	color: #b8b8b8;
	text-align: center;
}

.top-text {
	position: absolute;
	top: 25px;
	left: 50%;
	transform: translateX(-50%);
	transition: font-size 0.2s ease-in;
	font-size: 12px;
	text-align: center;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #fff;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

.justify-space-between {
	justify-content: space-between !important;
}

.justify-space-around {
	justify-content: space-around !important;
}
