
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
font-family: 'Open Sans', sans-serif;
font-family: "Banny";
*/

html {
	scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.section-about,
.section-ourteam,
.section-booking,
.section-specialties,
.section-events {
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 100px 0;
	}
	&:hover {
		.top-text {
			transition: font-size 0.2s ease-in;
			font-size: 13px;
		}
	}
}

.section__text {
	max-width: 600px;
	color: #000;
	.section__title {
		font-family: "Banny";
		font-size: 36px;
		line-height: 1.4;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 30px;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			top: 60px;
			left: 50%;
			transform: translateX(-50%);
			width: 60px;
			height: 5px;
			background: #E8C300;
			border-radius: 3px;
		}
	}

	.section__subtitle {
		font-weight: bold;
		font-size: 18px;
		line-height: 28px;
		display: flex;
		align-items: flex-end;
		text-align: center;
		margin-bottom: 20px;
	}

	.section__description {
		font-size: 14px;
		line-height: 28px;
		display: flex;
		align-items: flex-end;
		text-align: center;
	}
}

.section__image-wrapper {
	max-width: 600px;
	position: relative;
	transition: transform 0.2s ease-in;
	.section__image {
		max-width: 100%;
		height: auto;
		z-index: -1;
		border-radius: 5px;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);

	}

	&:after {
		transition: right 0.2s ease-in;
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -120px;
		width: 250px;
		height: 250px;
		border: 20px solid #E8C300;
		border-radius: 5px;
		z-index: 2;
	}

	&:hover {
		transform: scale(1.03);
		&:after {
			right: -140px;
		}
	}
}

.hidden {
	display: none;
}

.section__input-block {

}

.section__input-row {
	display: flex;
	justify-content: center;
}

.section__input-row + .section__input-row {
	margin-top: 10px;
}

.bottom-text {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 12px;
	color: #b8b8b8;
	text-align: center;
}

.top-text {
	position: absolute;
	top: 25px;
	left: 50%;
	transform: translateX(-50%);
	transition: font-size 0.2s ease-in;
	font-size: 12px;
	text-align: center;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #fff;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

.justify-space-between {
	justify-content: space-between !important;
}

.justify-space-around {
	justify-content: space-around !important;
}
