.section-gallery {
	width: 100%;
}
.gallery__images {
	display: flex;
	flex-wrap: wrap;
}
.gallery__image {
	max-width: 100%;
	display: block;
	min-width: 200px;
	flex-grow: 1;
	transition: opacity 0.2s ease-in;
	position: relative;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}
