.section-ourteam {
	background-image: url(../../img/our-team/our-team-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	.section__image-wrapper {
		transition: transform 0.2s ease-in;
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -120px;
			width: 250px;
			height: 250px;
			border: 20px solid #E8C300;
			z-index: 2;
			transition: left 0.2s ease-in;
		}
		&:hover {
			transform: scale(1.03);
			&:after {
				left: -140px;
			}
		}
	}

	.section__text {
		color: #fff;
	}
}
