.section-ourteam {
	background-image: url(../../img/our-team/our-team-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	.section__image-wrapper {
		transition: transform 0.2s ease-in;
		&:after {
			transition: left 0.2s ease-in;
			@include leftRectangle(-120px);
			@media (max-width: 1530px) {
				@include leftRectangle(-70px);
			}
		}
		&:hover {
			transform: scale(1.03);
			&:after {
				left: -140px;
				@media (max-width: 1530px) {
					left: -100px;
				}
			}
		}
		@media (max-width: 916px) {
			margin-top: 50px;
			order: 1;
		}
	}

	.section__text {
		color: #fff;
	}
}
